body{
    background-color:coral;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;

    }
h1{
    background-color: yellow;
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
div {
    padding-top: 70px;
    padding-right:70px;
    padding-left:70px;
    padding-bottom: 70px;
}

.aboutMe{
    font-size: larger ;
}

#aboutMe{font-family: Arial;}
